body{
	
background-color:skyblue;
}

	.box1{
		border-style:solid;
		border-width:5px;
		border-radius:45px;
		border-color:red;
		width:400px;
		height:300px;
		
	}
	.box2{
		border-style:dashed;
		border-width:thick;
		border-color:green;
		width:300px;
		height:300px;
		border-radius:60%
	
		
	}
	
	.box3{
		border-style:dashed;
		border-width:thick;
		border-color:#123ffe;
		width:300px;
		height:300px;
		border-radius:30%
		
		border-right-style:dotted;
		border-left-style:dashed;
		border-bottom-style:solid;
		border-top-style:double;
		
		outline: 4px solid green;
		
	}
	
	
	.mybox{
		border:8px solid grey;
		width:200px;
		height:200px;
		border-radius:50%;
		
	}
	
	.coloryellow{
		background-color:#fff123;
	}
	.colorred{
		background-color:rgb(255,0,0);
	}
	.colorgreen{
		background-color:rgb(0,255,0);
	}