body{
	
background-color:skyblue;
}


	.mybox{
		border:8px solid grey;
		width:200px;
		height:200px;
		border-radius:50%;
		
	}
	
	.coloryellow{
		background-color:#fff123;
	}
	.colorred{
		background-color:rgb(255,0,0);
	}
	.colorgreen{
		background-color:rgb(0,255,0);
	}
	
	.intro{
		border:10px solid #000;
		margin-top:20px;
		margin-right:50px;
		margin-bottom:40px;
		margin-left:30px;
		min-height:200px;
		
	}
	
	.mytext{
		border:1px solid #000;
		margin:20px 50px 40px 30px;
		padding:10px 30px;
		min-width:200px;
	}
	.mytext2{
		border:2px solid #fae123;
		display:block;
	}
	.welcome{
		border:10px solid #000;
		display:inline-block;
		width:200px;
		height:100px;
		
	}
	#banner{
		background-image:url('../images/f1.jpg');
		height:500px;
		border:1px solid black;
		background-repeat:no-repeat;
		background-position:bottom;
		background-size:cover;
		background-attachment: fixed;
		
		
		
	}
	
	#caption{
		background: brown url('../images/f2.jpg') no-repeat fixed center;
		height:200px;
		
	}